name: Draft PDF
on:
  workflow_dispatch:      # <--- AJOUTEZ CECI (Permet le clic manuel)
  push:
    paths:
      - 'paper.md'
      - 'paper.bib'
      - '*.png'      
      - '.github/workflows/draft-pdf.yml'

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: paper.md

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: paper
          path: paper.pdf